<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<div class="modal-body">
    <!--a ng-href="{{event.imageUrl}}" target="_blank" class="thumb"><img ng-src="{{event.imageUrl}}"></a-->
    <!--p>Episodes length: {{episodes.length}}</p-->
    <!--p>{{modal.content}}</p-->
        <p><b>{{event.name}}</b>
        <p>{{event.time['real']}} at {{event.location}}</p>
        {{setRadioValue(event.tags[0])}} 
        <p>Tag event as:</p>
        <div class="btn-group" ng-change="setTags(tagsValue,event)" ng-model="tagsValue" bs-buttons-radio>
                <button ng-repeat="item in tagsItems" type="button" class="btn" value="{{item.value}}" >{{item.label}}</button>
        </div></br></br>
        <p>Robot:<img ng-src="{{event.imageUrl}}"></p>
        <p>Overview:<img ng-src="{{event.imageOverheadUrl}}"></p>
        <!--img ng-src="{{event.sensorMapUrl}}"-->
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="hide()">Close</button>
</div>