<!doctype html>
<html lang="en" ng-app="historyApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Care-O-bot Memory Visualization</title>
  

	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="//mgcrea.github.com/angular-strap/css/prettify.css" rel="stylesheet">
    <!-- required libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//mgcrea.github.com/angular-strap/js/angular-strap.js"></script>
	<!-- optional libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.0/fastclick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>

  	<link rel="stylesheet" href="angular/css/app.css">
  	<script src="angular/js/controllers.js"></script>

</head>
<body ng-controller="EpisodesListCtrl" >
	<div class="container"><!-- was class="container-fluid"-->

		<h1 align="center">Care-O-bot Memory Visualization</h1>
		<div class="row-fluid">
			<div class="span3">
		
				<!--Sidebar content>
				<p> Sessions: {{episodes.Episodes.length}}</p>
				@TODO preload the bs-typeahead for ruleName> 			{{loadRuleName()}}-->	

				<b>>Search by</b></br>
				<input type="text" ng-click="clear_eventquery()" ng-model="eventquery.name" bs-typeahead="ruleName" placeholder="Name (e.g. drink, follow)"></br>
				<!--input type="text" ng-change="loadRuleName('lola')" ng-model="eventquery.name" bs-typeahead="ruleName" placeholder="Name"></br--> <!-- bs-typeahead="location" -->
				
				<input type="text" ng-click="clear_locationquery()" ng-model="locationquery.location" bs-typeahead="locationName" placeholder="Location (e.g. kitchen, sofa)"></br><!-- bs-typeahead="location" -->
				
				<b>>Sort by</b></br>
				<select ng-model="orderProp">
				  <option value="location">Location</option>
				  <option value="name">Rule</option>
				  <option value="-time.narrative">Newest</option>
				  <option value="time.narrative">Oldest</option>
				</select>

				</br><b>>Show</b></br>
				<select ng-model="statusquery.tags">
					<option value="">All</option>
					<option ng-repeat="item in tagsItems" value="{{item.value}}">{{item.label}}</option>
					<!--option value="important">Important</option>
					<option value="question">Unclear</option-->
				</select>	

			</div>
		
			<div >
					<div class="clearfix" ng-repeat="ep in episodes.Episodes">
						<div ng-controller="ModalCtrl" ng-click="viaService()" ng-repeat="event in ep.Events | filter:locationquery:strict  | filter:eventquery:strict  | orderBy:orderProp | filter:statusquery" class="inner">
							<!--a ng-href="{{event.imageUrl}}" target="_blank" class="thumb" ><img ng-src="images/viewGeneral.jpg"></a--> <!-- WORKS -->
							<p data-ng-init="loadLocationName(event.location)"><img ng-src="images/viewGeneral.jpg"></p>
							<p data-ng-init="loadRuleName(event.name)" ><b> {{event.name}}</b></p>
							<!--p data-ng-init="loadLocationName(event.location)" ><b></b> {{event.time['real']}}<b> , </b> {{event.location}}</p>

							{{setRadioValue(event.tags[0])}}
							<div class="btn-group" ng-change="setTags(tagsValue,event)" ng-model="tagsValue" bs-buttons-radio>
								<button ng-repeat="item in tagsItems" type="button" class="btn" value="{{item.value}}" >{{item.label}}</button>
							</div-->
							<!--p>{{tagsValue}}</p-->
						</div>
					</div>
			</div>
		</div>	



	<!--ul ng-repeat="EV in episodes.Episodes">
			<li ng-repeat="EVE in EV.Events">
				<p>{{EVE.tags[0]}}</p>
				{{setRadioValue(EVE.tags[0])}}
					<div class="btn-group" ng-model="tagsValue" bs-buttons-radio>
						<button ng-repeat="item in tagsItems" type="button" class="btn" value="{{item.value}}">{{item.label}}</button>
					</div>
				<p>{{tagsValue}}</p>
				{{loadRuleName(EVE.name)}}
				 {{setName2Set(EVE.name)}}
				 <script type="text/javascript">
						$scope.ruleName.push(EVE.name);
					</script>
			</li>
	</ul-->

	<!--input type="button" ng-click="loadRuleName('putapariu')" value="Add Item" /><br/-->

	<!-- <ul ng-repeat="EV in episodes.Episodes">
			<li ng-repeat="EVE in EV.Events">
				<input type="button" ng-click="loadRuleName(EVE.name)" value="Add Item" /><br/>
				
				<p>Name {{EVE.name}}</p>
			</li>
	</ul>

	{{ruleName.length}}
	{{ruleName}}
	</div> -->

	
	
</body>
</html>

